
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="links" style="margin-left: 25%">
    @*<li>@Html.ActionLink("Allocate Classroom", "AllocateClassrooms")</li>
    <li>@Html.ActionLink("View Class Schedule", "ViewClassAndRoomSchedule")</li>
    <li>@Html.ActionLink("Unallocate Rooms", "UnallocateClassrooms")</li>*@
</ul>
<br/>
