
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="links" style="margin-left: 10%">
    @*<li>@Html.ActionLink("Save", "SaveCouse")</li>
    <li>@Html.ActionLink("Course Assign To Teacher", "AssignCourse")</li>
    <li>@Html.ActionLink("View Course Statics", "ViewCourse")</li>
    <li>@Html.ActionLink("Unassign All Courses", "UnassignAllCourses")</li>*@
</ul>
<br/>
