
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="links" style="margin:auto">
    @*<li>@Html.ActionLink("Save", "Save")</li>
    <li>@Html.ActionLink("View All Department", "ViewAllDepartment")</li>
    <li>@Html.ActionLink("Save Teacher", "SaveTeacher")</li>*@
</ul>
<br/>
