
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<ul class="links" style="padding-left: 20%">
    <li>@Html.ActionLink("Save Student", "RegisterStudent", "Student")</li>
    <li>@Html.ActionLink("Enroll in a Course", "EnrollInACourse", "Student")</li>
    <li>@Html.ActionLink("Save Student Result", "SaveStudentResult", "Student")</li>
    <li>@Html.ActionLink("View Result", "ViewResult", "Student")</li>
</ul>*@
<br/>

